*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-color: black;
}
.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;

}
.top{
    display: flex;
    gap: 250px;
    align-self: self-start;
}
.inputpatner{
    display: flex;
    gap: 40px;
    align-items: center;
}
.inputside{
    background-color: hsl(237, 14%, 26%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.in1 input{
    height: 20px;
    width: 20px;
}

.in2 input{
    width: 20vw;
    background: transparent;
    height: 35px;
    border: none;
    color: white;
    font-size: 17px;
    padding: 15px;
    outline: none;
}
.in2 ::placeholder{
    color: white;
    font-size: 15px;
}
.txt{
    color: black;
}
.listitem{
    background-color: hsl(237, 14%, 26%);
    width: 330px;
    /* min-width: 330px; */
    padding: 20px 10px;
    display: none;
    align-self: self-start;
    border-radius: 5px;
    box-shadow: 1px 2px 5px;
    overflow: hidden;
}

input[type="checkbox"] {
    clip-path: circle(46% at 50% 50%);
}
.linetext{
    text-decoration: line-through;
}
ul{
    overflow: clip;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 10px;
    width: 40vw;
    padding: 15px;
}
.chgcolo{
    color: white;
}
.moon{
    display: none;
}
.btn{
    background-color: hsl(233, 11%, 84%);
    width: 5vw;
    padding: 8px;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: hsl(237, 14%, 26%);
}
.light-mode{
    background: url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-color: white;
}
.gray-mode{
    background-color: whitesmoke;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
@media screen and (max-width:950px) {
    .main{
        padding-bottom: 490px;
    }
    .todo{
        padding-top: 50px;
    }
    .inputside{
        padding: 10px;
        border-radius: 5px;
        width: 90vw;
        display: flex;
        align-items: center;
        align-self: center;
        gap: 15px;
    }
    .btn{
        background-color: hsl(238, 15%, 42%);
        width: 25vw;
        text-align: center;
        padding: 5px;
        border-radius: 25px;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-size: 28px;
    }
    .btn:hover{
        background-color: hsl(237, 14%, 26%);
    }
    .unbtn{
        background-color: aliceblue;
        color: darkblue;
    }
    .unbtn:hover{
        background-color: hsl(237, 34%, 45%);
    }
    .inputpatner{
        flex-direction: column;
        gap: 20px;
    }
    .listitem{
        width: 90%;
        align-self: center;
    }
    .top{
        gap: 300px;
    }
    .in2 ::placeholder{
        font-size: 25px;
    }
    .in2 input{
        width: 77vw;
        padding: 25px;
        font-size: 25px;
    }
    li{
        font-size: 25px;
    }
}